@font-face {
    font-family: 'Press Start 2P';
    src: url('/assets/fonts/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --font-primary: 'Press Start 2P', cursive;
    --casi-negro: #353738;
    --casi-blanco: #f3e5c2;
}