* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background-image: url("../assets/images/rankingcomealong.png");
  background-size: cover;

  color: black;
  text-shadow: 0 0 10px #666;

  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 55%;
  height: 55%;
  padding: 30px;

  background-color: rgba(232, 230, 230, 0.322);
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: var(--font-primary);
  margin-bottom: 60px;
  color: white;
}

h2 {
  margin-bottom: 15px;
  color: var(--casi-blanco);
}

p {
  text-align: center;
  font-size: var(--font-size-medium);
  margin-bottom: 25px;
  max-width: 600px;
  color: var(--casi-blanco);
}

a {
  padding: 0.5rem 1rem;
  background-color: #84a15f;
  border-width: 2px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  text-align: center;
  line-height: 1.5;
  transition: all 0.2s ease;
}

a:hover {
  background-color: white;
  color: #84a15f;
}

.selected {
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px white;
}